<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost/hibernatetest</property>
    <property name="connection.username">root</property>
    <property name="connection.password"/>
    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>
    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- Disable the second-level cache  -->
    <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>
    <!--                           -->
    <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">update</property>
    <!-- Names the annotated entity class -->
    <mapping class="Model.employee.java"/>
    <mapping class="Model.Inventory.java"/>
    <mapping class="Model.Transcation.java"/>
    <mapping class="Model.Billproduct.java"/>
    <mapping class="Model.Supplier.java"/>
    <mapping class="Model.StaffLog.java"/>
    <mapping class="Model.Company.java"/>
   
    <!--<mapping class="Model.InventoryTranscation.java"/>-->
    <!--<mapping class="Model.InventoryTranscationPK.java"/>-->
  </session-factory>
</hibernate-configuration>
